html {
    font-family: sans-serif;
    background-image: url('https://images.unsplash.com/photo-1519638399535-1b036603ac77?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Norse-Bold;
    src: url(./fonts/Norse-Bold.otf);
}

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    position: absolute;
}


/* ========================= LEFT SIDE ========================== */

.left-side {
width: 600px;
}

.odin-logo img {
    width: 120px;
    height: 150px;
    padding: 1rem;
    display: block;
}

.odin-logo  {
    display: flex;
    justify-content: center;
    background-color: hsl(0,0%,0%, .4);
    height: 150px;
    margin-top: 8em;
}

.odin-logo p {
    display: inline-block;
    margin-top: 2rem;
    font-family: Norse-bold;
    font-size: 5rem;
    color: white;
}

.credit {
    position: absolute;
    bottom: 0;
    margin-left: 3.5rem;
    width: 260px;
    height: 40px;
    color: white;
    text-decoration: inherit;
}
a, a:hover, a:focus, a:active {
    color: inherit;
}

/* ========================= LEFT SIDE ========================== */

/* ========================= SIGN UP ============================ */

.main-text {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 820px;
    max-height: 220px;
    padding: 1rem;
    margin-top: 4rem;
    margin-left: 4rem;
}

.you-know {
    display: block;
    margin-top: 2rem;
}

.sign-up b {
font-size: 1.6rem;
}


.sign-up {
    background-color: hsl(0, 0%, 95%);
    height: 100%;
    width: 100%;
}

form {
    background-color: white;
    padding: 2rem 4rem 2rem 4rem;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    height: 400px;
}

.form-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 600px;
    font-size: 1rem;
    font-weight: 600;
}

form .sec {
    display: flex;
    flex-direction: column;
    width: 280px;
    padding: 1em;
    margin-right: 1em;
}


form b {
    display: block;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
}

input {
    padding: .6rem;
    border: #E5E7EB solid 1px;
    border-radius: .2em;
}

input:focus {
    outline: none !important;
    border-color: blue;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.error {
    color: red;
}


button {
    border: none;
    background-color: hsl(92, 20%, 35%);
    color: white;
    padding: 1rem 4rem;
    border-radius: .5rem;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    margin-left: 5rem;
    margin-top: 2rem;
    cursor: pointer;
    font-size: 1.2rem;
}

button:hover {
background-color: hsl(92, 20%, 55%);
}

button:active {
    background-color: hsl(92, 20%, 35%);
}

.have-account {
    display: block;
    padding: 2rem;
    margin-left: 3.2rem;
}

.have-account a {
    text-decoration: none;
    color: hsl(92, 20%, 35%);
    font-weight: bold;
}


/* ========================= SIGN UP ============================ */



/* ########################### MOBILE ######################################## */

@media (max-width: 1050px) {
    .main {
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }

    .left-side {
        width: 100%;
        margin-bottom: 1rem;
        }


        .credit {
            position: relative;
            margin: 5rem auto 1rem auto;
            width: 260px;
            height: 0;
   
        }

    .main-text {
            display: block;
            width: 100%;
            height: 100%;
            padding: 2rem;
            margin: auto;

        }

        .form-section {
            margin: auto;
        }

        form b {
            display: block;
            margin-bottom: 1.5rem;
            margin-left: 0;
            text-align: center;
        }

        button {
            display: block;
            margin: 2rem auto;
        }

        .have-account {
            display: block;
            padding: 1rem;
            margin-left: 0;
            text-align: center;
            margin-bottom: 1rem;
        }
}


@media (max-width: 640px) {

    .sign-up b {
        font-size: 1.2rem;
        }


    .main-text {
            display: block;
            width: 100%;
            height: 100%;
            padding: 1rem;
            margin: auto;
            text-align: center;

        }

        .form-section {
            margin: auto;
            justify-content: center;
            width: 100%;
        }

     

        form {
            background-color: white;
            padding: 2rem 1rem 2rem 1rem;
            box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
            height: 400px;
        }

        form .sec {
            display: flex;
            flex-direction: column;
            width: 220px;
            padding: 1em;
            margin: 0;
        }

        input {
            padding: .4rem;
            border: #E5E7EB solid 1px;
            border-radius: .2em;
        }

        button {
            display: block;
            margin: 2rem auto;
        }

        .have-account {
            display: block;
            padding: 1rem;
            margin-left: 0;
            text-align: center;
            margin-bottom: 5rem;
        }
}




/* ########################### MOBILE ######################################### */